<div class="blog-preview-container">
    <div class="section-header">
      <h2>Food Safety Blogs</h2>
      <a routerLink="/food-safety-blogs" mat-button color="primary">View All</a>
    </div>
    
    <div class="blog-cards">
      <mat-card *ngFor="let blog of blogs" class="blog-card">
        <img mat-card-image [src]="blog.image" [alt]="blog.title" class="blog-image">
        <mat-card-content>
          <h3 class="blog-title">{{ blog.title }}</h3>
          <p class="blog-date">{{ formatDate(blog.publishedDate) }}</p>
          <p class="blog-excerpt">{{ blog.descriptiton }}</p>
        </mat-card-content>
        <mat-card-actions>
          <a [routerLink]="['/food-safety-blogs', blog.id]" mat-button color="primary">READ MORE</a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>