<div class="tasks-container">
  <!-- Donut Chart -->
  <app-chart 
    [chartData]="chartData" 
    chartType="donut" 
    [selectedRange]="selectedRange"
    [showControls]="true"
    [showSortBy]="true"
    [showFilter]="true"
    [showTabs]="true"
    [currentTab]="currentTab"
    (rangeChange)="onRangeChange($event)"
    (tabChange)="onTabChange($event)">
  </app-chart>
  
  <!-- Task Progress List -->
  <div class="tasks-list" *ngIf="tasks.length">
    <div *ngFor="let task of tasks | slice:0:5" class="task-item">
      <div class="task-info">
        <span class="task-name">{{task.name}}</span>
        <span class="task-progress">{{task.progress}}%</span>
      </div>
      <mat-progress-bar [value]="task.progress" [color]="task.progress > 75 ? 'primary' : 'accent'"></mat-progress-bar>
    </div>
  </div>
</div>